@keyframes rotate_{
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);

    }
    
    50%{
        transform: rotate(180deg);

    }
    
    65%{
        transform: rotate(270deg);

    }
    
    90%{
    	transform: rotate(360deg)
    }
    
    100%{
    	transform: rotate(0deg)
    }
}

#logo_ext{
    animation: rotate_ 5s infinite;
}